---
import ToggleThemeButton from '../vue/ToggleThemeButton.vue';
import DropdownMenu from '../vue/DropdownMenu.vue';

import logo from './logo.png';
---

<header class="fixed w-full p-3 z-20 backdrop-blur-md">
    <div class="mx-auto">
        <nav class="flex justify-between items-center text-lg">
            <div class="flex flex-row items-center gap-4">
                <a href="./" class="flex flex-row items-center">
                    <img
                        src={logo}
                        class="rounded-full border border-zinc-900 dark:border-zinc-100"
                    />
                    <h2 class="font-semibold p-2 tracking-tight italic">Paolino_95</h2>
                </a>
                <a
                    href="/posts"
                    class="items-center text-base italic hover-underline hidden md:block"
                    >Posts
                </a>
                <a
                    href="./createdWith"
                    class="items-center text-base italic hover-underline hidden md:block"
                >
                    Created With
                </a>
            </div>

            <div class="items-center flex gap-3 border-0 border-l">
                <ToggleThemeButton client:load />
                <a href="https://github.com/Paolino95" target="_blank">
                    <i
                        class="buttons-transition fa-brands fa-github text-3xl hover:text-zinc-600 dark:hover:text-slate-400"
                    ></i>
                </a>
                <DropdownMenu client:load />
            </div>
        </nav>
    </div>
</header>
