---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import '../styles/index.css'
---

<html lang="en">
    <Layout>
        <Main slot="main">

        </Main>
    </Layout>
</html>