---
import MainHead from "../components/MainHead.astro";
import Body from '../components/Body.astro';
import Header from "../components/Header.astro";

import '../styles/index.css'
---

<html lang="en">
    <head>
        <MainHead />
    </head>
    <Body>
        <Header></Header>
    </Body>
</html>