---
import Layout from '../layouts/Layout.astro';
import me from '/logo-transparent.png';
import '../styles/index.css';
---

<html lang="en">
    <Layout>
        <section class="relative h-80 sm:flex sm:flex-row sm:items-center">
            <div
                class="absolute sm:relative overflow-hidden flex items-center justify-center w-full sm:w-1/2"
            >
                <img class="w-96 rounded-full border-0" src={me} />
            </div>
            <div class="z-10 absolute sm:relative bottom-0 w-full sm:w-1/2 flex flex-col pl-8">
                <div class="font-bold text-4xl uppercase mb-2">Ciao</div>
                <div class="italic text-4xl">
                    sono <span class="text-orange-300">Paolino_95</span>
                </div>
            </div>
        </section>
        <div class="p-4 mt-4 sm:flex sm:justify-center">
            .....e sono un frontend web developer. Mi chiamo Massimiliano Paolone, ho 26 anni e
            scrivo codice. Ogni tanto.
        </div>
    </Layout>
</html>
