<footer class="w-full h-24">
    <div class="flex h-full items-center justify-center">
        <span class="italic text-sm md:text-base lg:text-lg">© 2022 Massimiliano Paolone All rights reserved.</span>
    </div>
</footer>