<div class="flex flex-row">
    <button><i class="fa-solid fa-shuttle-space"></i></button>
    <span>Paolino_95</span>
    <button><i class="fa-solid fa-github"></i></button>
    <button><i class="fa-solid fa-bars"></i></button>
</div>