---
import MainHead from "../components/astro/MainHead.astro";
import Body from '../components/astro/Body.astro';
import Header from "../components/astro/Header.astro";
import Footer from "../components/astro/Footer.astro";
---

<head>
    <MainHead />
</head>
<Body>
    <Header />
    <div class="flex flex-col items-center justify-center pt-16">
        <section class="flex justify-center w-full">
            <slot />
        </section>
    </div>
    <Footer />
</Body>